// =================================== FONTS =================================== //

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
// font-family: 'Ubuntu', sans-serif;


// =================================== COLORS =================================== //

$lightBlue: #4594D9;
$blue: #034C8C;
$darkBlue: #1C3661;
$gray: #E6E6E6;
$white: #FFFFFF;


// =================================== MIXINS =================================== //

@mixin activeLinkNavBar() {
    background-color: $blue;
}

@mixin bgImg($url, $pos:center, $attach:scroll) {
    background-image: url($url);
    background-position: $pos;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: $attach;
}

// =================================== CSS =================================== //

html {

    font-family: 'Ubuntu', sans-serif;

    ::selection {
        background-color: $blue;
        color: white;
    }
}

a {
    text-decoration: none;
    color: black;
}

h1,
h2,
h3 {
    margin: 0;
}

.inkuaButton {
    width: max-content;
    height: min-content;
    text-align: center;
    padding: 10px 30px;
    transition: ease all .25s;
    border-radius: 50px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        color: white;
        @include activeLinkNavBar;
    }
}

// =================================== NAVBAR =================================== //

nav {

    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0 15px 0;
    box-shadow: 0px 3px 12px -6px rgba(0, 0, 0, 0.5);

    .logo {
        padding: 1em;
        width: 50px;
        height: 20px;
        @include bgImg("../resources/navbar/logo.svg");
        // background-image: url(../resources/navbar/logo.svg);
        // background-position: center;
        // background-repeat: no-repeat;
        background-size: contain;
    }

    .navLinksContainer {
        display: flex;
        gap: .5em;

        .navLink {
            @extend .inkuaButton;
        }
    }
}

// =================================== MAIN =================================== //

.mainIndex {
    .introContainer {
        @include bgImg("../resources/index/indexMainImg.png");
        // background-image: url(../resources/index/indexMainImg.png);
        // background-position: center;
        // background-size: cover;
        // background-repeat: no-repeat;
        height: 100vh;

        .indexIntro {
            background-color: $white;
            width: 35%;
            border-radius: 0 50% 0 50%;
            padding: 40px;

            h2 {
                color: $blue;
                width: 50%;
            }

            .introButton {
                @extend .inkuaButton;
                background-color: $blue;
                color: $white;
                border: none;
            }
        }

        .languagesButton {
            @extend .inkuaButton;
            background-color: $white;
            color: #000000;
            border: none;

            &:hover {
                background-color: $white;
                color: #000000;
            }
        }
    }
}

.benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 40vh;
    height: min-content;
    padding: 5% 0 5% 10%;

    h2 {
        color: $darkBlue;
        font-weight: 500;
        font-size: 35px;
    }

    ul {
        list-style: none;

        li {
            padding: .5em 0;
        }
    }
}

.openSource {
    min-height: 100vh;
    height: min-content;
    display: flex;
    align-items: center;
    @include bgImg("../resources/index/indexOpenSource.png");
    padding-left: 10%;

    .openSourceText {
        width: 45%;

        h2 {
            color: $darkBlue;
            font-weight: bold;
            word-spacing: .5em;
            line-height: 1.5em;
        }

        p {
            line-height: 1.5em;
            width: 80%;
        }
    }
}

.inkuaNumbers {
    background-color: $darkBlue;
    min-height: 80vh;
    height: min-content;
    text-align: center;
    color: $white;
    padding: 5% 10%;

    .inkuaNumbersIntroContainer {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 25%;
        border-bottom: 3px solid $white;
        margin: auto;

        h2 {
            font-size: 35px;
        }

        h3 {
            font-weight: normal;
            padding-bottom: 1em;
        }
    }

    .inkuaNumbersContainer {
        display: flex;
    }
}

.partners {
    min-height: 80vh;
    height: min-content;
    text-align: center;
    padding: 5% 0 10% 0;

    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
        font-size: 35px;
        font-weight: normal;
        color: $darkBlue;
    }

    .bottomPartners {
        display: flex;
        width: 100%;
        @include bgImg("../resources/index/partnersBlob.svg");
        min-height: 60vh;

        .brands {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .brandImage {
                height: auto;
                width: 150px;
            }
        }

        .partnersLeft {
            width: 40%;
        }

        .partnersCenter {
            width: 20%;
            background-color: red;

            .partnersButton {
                @extend .inkuaButton;
            }
        }

        .partnersRight {
            width: 40%;
        }
    }
}

.newsletter {
    min-height: 50vh;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    padding: 0 25%;
    background-color: $blue;
    color: $white;
    text-align: center;

    input {
        width: 50%;
        border-radius: 50px;
        border: none;
        padding: .5em;
    }

    h2 {
        font-weight: normal;
        margin: 0;
    }

    p {
        margin: 0;
    }

    .newsletterButton {
        @extend .inkuaButton;
        background-color: $blue;
        border: 2px solid $white;
        color: $white;
    }
}


// =================================== FOOTER =================================== //

footer {
    display: flex;
    position: static;
    bottom: 0;
    justify-content: center;
    width: 100%;
    gap: 5em;
    background-color: $gray;
    padding: 60px 0 60px 0;

    .logo {
        padding: 1em;
        width: 50px;
        height: 20px;
        @include bgImg("../resources/navbar/logo.svg");
        // background-image: url(../resources/navbar/logo.svg);
        // background-position: center;
        // background-repeat: no-repeat;
        background-size: contain;
    }

    .footerPages {
        ul {
            list-style: none;
        }
    }

    .footerLinks {
        a {
            height: 50px;
            width: 50px;
            background-image: url("https://i.picsum.photos/id/477/200/200.jpg?hmac=pGA68LBET23UPGB7L8xL1pA7PYT_x7JazGX__CnlliU");
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
}