// =================================== FONTS =================================== //

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
// font-family: 'Ubuntu', sans-serif;


// =================================== COLORS =================================== //

$lightBlue: #4594D9;
$blue: #034C8C;
$darkBlue: #1C3661;
$gray: #E6E6E6;
$white: #FFFFFF;


// =================================== MIXINS =================================== //

@mixin activeLinkNavBar() {
    background-color: $blue;
}

@mixin bgImg($url, $pos:center, $attach:scroll) {
    background-image: url($url);
    background-position: $pos;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: $attach;
}

// =================================== CSS =================================== //

html {
    ::selection {
        background-color: $blue;
        color: white;
    }
}

body {
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

h1,
h2,
h3 {
    margin: 0;
}

h1,
h2 {
    color: $darkBlue !important;
}

.inkuaButton {
    width: max-content;
    height: min-content;
    text-align: center;
    padding: 10px 30px;
    transition: ease all .25s;
    border-radius: 50px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        color: white !important;
        @include activeLinkNavBar;
    }
}

.inkuaButtonActive {
    @extend .inkuaButton;
    background-color: $blue;
    color: $white;
    border: none !important;
}

#goToTop {
    position: fixed;
    bottom: 2em;
    right: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    height: 60px;
    width: 60px;
    background-color: $darkBlue;
    border: none;
    transition: ease all .25s;
    display: none;

    i {
        font-size: 1.5em;
        color: $white;
    }

    &:hover {
        background-color: $blue;
    }
}

//========================================  MEDIA QUERIES  ========================================//

@media only screen and (max-width: 700px) {
    #goToTop {
        padding: .5em;
        height: 40px;
        width: 40px;
    }
}

// =================================== NAVBAR =================================== //

.navBar {

    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2em;
    box-shadow: none;
    z-index: 100;
    background-color: transparent;
    transition: ease all .25s;

    .logo {
        padding: 1em;
        width: 90px;
        height: 45px;
        @include bgImg("../resources/navbar/logo.svg");
        background-size: contain;
    }

    .navLinksContainer {
        display: flex;
        gap: .5em;

        .navLink {
            @extend .inkuaButton;
        }
    }
}

// =================================== SMALL NAVBAR =================================== //

#expandNavBar {
    position: fixed;
    top: 1em;
    right: 1em;
    z-index: 200;
    padding: 5px 10px;
    background-color: $white;
    border: none;
    border-radius: 5px;
    transition: ease all .25s;

    i {
        color: $blue;
    }

    &:hover {
        background-color: $darkBlue;

        i {
            color: $white;
        }
    }
}

#smallScreen {
    height: 100vh;
    width: 100vw;
    right: -100vw;
    background-color: $white;
    color: #000000 !important;
    display: flex;
    flex-direction: column;
    @include bgImg("../resources/navbar/navBg.svg");
    padding: 10%;

    .navLinksContainerSmall {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;

        .navLinkSmall {
            font-weight: 500;
            font-size: larger
        }
    }
}

.logoSmall {
    @extend .logo;
    position: fixed;
    top: 1em;
    left: 1em;
    z-index: 100;
}

//========================================  MEDIA QUERIES  ========================================//

@media only screen and (max-width: 900px) {
    #bigScreen {
        display: none;
    }
}

@media only screen and (min-width: 900px) {

    [data-big-hide],
    .logoSmall {
        display: none;
    }
}

// =================================== MAIN =================================== //

.mainIndex {
    .introContainer {
        background: linear-gradient(180deg, rgba(28, 54, 97, 0.492) 6.92%, rgba(28, 54, 97, 0) 69.62%), url("../resources/index/indexMainImg.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        padding: 10%;

        .indexIntro {
            background-color: $white;
            width: 432px;
            border-radius: 0 25% 0 25%;
            padding: 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: .5em;

            h2 {
                color: $blue !important;
                font-size: 37px;
            }
        }

        .languagesButton {
            display: none;
            @extend .inkuaButton;
            position: absolute;
            bottom: 2em;
            right: 2em;
            background-color: $white;
            color: #000000;
            border: none;

            &:hover {
                background-color: $white;
                color: #000000 !important;
            }
        }
    }

    .benefits {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 40vh;
        height: min-content;
        padding: 5% 0 5% 10%;
        overflow: hidden;

        .curveShapeIn {
            position: absolute;
            top: -95%;
            right: -8%;
            border: 3px solid $darkBlue;
            width: 432px;
            height: 400px;
            border-radius: 0 25% 0 25%;
        }

        .curveShapeOut {
            @extend .curveShapeIn;
            top: -75%;
            right: -5%;
        }

        h2 {
            color: $darkBlue;
            font-weight: 500;
            font-size: 35px;
        }

        ul {
            list-style: none;

            li {
                padding: .5em 0;
            }
        }
    }


    .openSource {
        position: relative;
        min-height: 100vh;
        height: min-content;
        display: flex;
        align-items: center;
        @include bgImg("../resources/index/indexOpenSource.png");
        padding-left: 10%;

        .dots {
            position: absolute;
            right: 0;
            top: -15%;
            width: 150px;
            height: 200px;
            background-color: transparent;
            background-image: radial-gradient($blue 10%, transparent 11%);
            background-size: 25px 25px;
            background-position: 0 0, 5px 5px;
            background-repeat: repeat;
        }

        .openSourceText {
            display: flex;
            flex-direction: column;
            gap: .5em;
            width: 45%;

            h2 {
                color: $darkBlue;
                font-weight: 500;
                word-spacing: .5em;
                line-height: 1em;
                padding-bottom: .5em;
            }

            p {
                line-height: 1.5em;
                width: 80%;
            }
        }
    }

    .inkuaNumbers {
        background-color: $darkBlue;
        min-height: 80vh;
        height: min-content;
        text-align: center;
        color: $white;
        padding: 5% 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .inkuaNumbersIntroContainer {
            display: flex;
            flex-direction: column;
            gap: 1em;
            width: max-content;
            border-bottom: 3px solid $white;
            margin: auto;

            h2 {
                font-size: 35px;
                color: $white !important;
            }

            h3 {
                font-weight: normal;
                font-size: large;
                padding-bottom: 2em;
            }
        }

        .inkuaNumbersContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5% 5% 0 5%;

            h4 {
                font-size: 50px;
            }
        }
    }

    .partners {
        min-height: 80vh;
        height: min-content;
        text-align: center;
        padding: 5% 0 10% 0;

        h2 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20vh;
            font-size: 35px;
            font-weight: 500;
            color: $darkBlue;
        }

        .bottomPartners {
            display: flex;
            width: 100%;
            @include bgImg("../resources/index/partnersBlob.svg");
            min-height: 70vh;

            .brands {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;

                .brandImage {
                    height: auto;
                    width: 150px;
                }
            }

            .partnersLeft {
                width: 30%;
            }

            .partnersCenter {
                width: 40%;
                @include bgImg("../resources/index/phone.png");
                background-size: contain;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1em;

                h3 {
                    font-size: large;
                    margin: 0;
                    color: $blue;
                }
            }

            .partnersRight {
                width: 30%;
            }
        }
    }

    .newsletter {
        min-height: 50vh;
        height: min-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
        padding: 5% 25%;
        background-color: $blue;
        color: $white;
        text-align: center;

        input {
            width: 70%;
            border-radius: 50px;
            border: none;
            padding: .5em;
            padding: .25em .75em;
            border: 1px solid darkgray;
        }

        h2 {
            font-weight: 500;
            margin: 0;
            color: $white !important;
        }

        p {
            margin: 0;
        }

        .newsletterButton {
            @extend .inkuaButton;
            background-color: $blue;
            border: 2px solid $white;
            color: $white;
        }
    }
}


//========================================  MEDIA QUERIES  ========================================//

@media only screen and (max-width: 700px) {
    .mainIndex {
        .introContainer {
            display: flex;
            flex-direction: column-reverse;
            padding: 0;
            background-position: center -100px;

            .indexIntro {
                width: 100%;
                border-radius: 0;
            }

            .languagesButton {
                display: none;
            }
        }

        .benefits {

            .curveShapeIn,
            .curveShapeOut {
                display: none;
            }
        }


        .partners {
            .bottomPartners {
                display: flex;
                flex-direction: column;
                justify-self: center;
                align-items: center;
                width: 100%;
                background-size: 150%;

                .partnersLeft,
                .partnersRight {
                    gap: 3em;
                }

                .partnersCenter {
                    height: 90vh;
                    margin: 2em 0;
                }
            }
        }

        .newsletter {
            padding: 10%;

            input {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .mainIndex {
        .introContainer {
            display: flex;
            flex-direction: column-reverse;
            padding: 0;
            background-position: center -100px;

            .indexIntro {
                background-color: $white;
                width: 100%;
                border-radius: 0;
                padding: 5%;

                h2 {
                    font-size: 30px;
                }

                .inkuaButtonActive {
                    margin: auto;
                }
            }

            .languagesButton {
                display: none;
            }
        }

        .benefits {
            padding-top: 0;

            ul {
                padding: .5em 0;
            }
        }

        .openSource {
            background-position: 70% -50px;
            display: flex;
            flex-direction: column-reverse;
            padding: 0;

            .dots {
                top: -10%;
                width: 100px;
            }

            .openSourceText {
                width: 100%;
                background-color: $white;
                padding: 7%;

                h2 {
                    font-size: large;
                    color: $darkBlue;
                    font-weight: 500;
                    word-spacing: .5em;
                    line-height: 1.5em;
                    padding-bottom: 1em;
                }

                p {
                    font-size: medium;
                    line-height: 1.5em;
                    width: 100%;
                }
            }
        }

        .inkuaNumbers {
            background-color: $darkBlue;
            min-height: 80vh;
            height: min-content;
            text-align: center;
            color: $white;
            padding: 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .inkuaNumbersIntroContainer {
                display: flex;
                flex-direction: column;
                gap: 1em;
                width: max-content;
                border-bottom: 3px solid $white;
                margin: auto;

                h2 {
                    font-size: 30px;
                    color: $white !important;
                }

                h3 {
                    font-weight: normal;
                    font-size: large;
                    padding-bottom: 2em;
                }
            }

            .inkuaNumbersContainer {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5% 5% 0 5%;

                h4 {
                    font-size: 50px;
                }
            }
        }

        .partners {
            min-height: 80vh;
            height: min-content;
            text-align: center;
            padding: 5% 0 10% 0;

            h2 {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 20vh;
                font-size: 35px;
                font-weight: normal;
                color: $darkBlue;
            }

            .bottomPartners {
                display: flex;
                flex-direction: column;
                justify-self: center;
                align-items: center;
                width: 100%;
                background-size: 300%;

                .brands {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;

                    .brandImage {
                        height: auto;
                        width: 150px;
                    }
                }

                .partnersLeft {
                    width: 30%;
                    gap: 3em;
                }

                .partnersCenter {
                    height: 90vh;
                    width: 100%;
                    margin: 2em 0;
                }

                .partnersRight {
                    width: 30%;
                    gap: 3em;
                }
            }
        }

        .newsletter {
            padding: 10%;

            input {
                width: 100%;
            }
        }
    }
}


// =================================== ABOUT US =================================== //

.aboutUsIntro {
    padding: 10% 5% 0 5%;

    h1 {
        color: $darkBlue;
        margin-bottom: 1em;
        font-weight: 500;
    }
}

.cardsContainerAboutUs {
    padding: 5%;
    width: 100%;

    .cardAboutUs {
        width: min-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: ease all .25s;

        &:hover {
            scale: .95;
        }

        img {
            min-width: 300px;
            width: 80%;
            height: 150px;
            border-radius: 6px 6px 0 0;
            object-fit: cover;
            justify-self: center;
        }

        figcaption {
            min-width: 300px;
            width: 80%;
            background-color: $blue;
            color: $white;
            padding: .75em;
            margin-bottom: 1em;
            border-radius: 0 0 6px 6px;
        }
    }
}

.ourTeam {
    min-height: 50vh;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    padding: 5% 25%;
    background-color: $gray;
    color: #000000;
    text-align: center;

    h2 {
        color: $darkBlue;
        font-weight: 500;
    }
}


//========================================  MEDIA QUERIES  ========================================//

@media only screen and (max-width: 620px) {
    .mainAboutUs {
        padding-top: 70px;
    }

    .aboutUsIntro {
        padding: 0% 5% 0 5%;

        h1 {
            color: $darkBlue;
            margin-bottom: 1em;
        }
    }

    .cardsContainerAboutUs {
        padding: 0%;
        margin: auto;
        width: 80%;
    }

    .ourTeam {
        padding: 10%;
    }
}


// =================================== JOIN US =================================== //

.mainJoinUs {
    padding: 10%;

    h1 {
        font-weight: 500;
    }

    .buttonGroup {
        border-bottom: 2px solid $gray;
        width: max-content;
        display: flex;
        gap: 2em;

        .sectionButton {
            background-color: transparent;
            border: none;
            border-bottom: 2px solid transparent;
            font-weight: 500;
            transition: ease all .25s;

            &:hover {
                @extend .sectionButtonActive;
            }
        }

        .sectionButtonActive {
            color: $blue;
            border-bottom: 3px solid $blue;
        }
    }

    .selectorJoinUs {
        position: relative;

        .peopleImg {
            position: absolute;
            @include bgImg("../resources/joinUs/people.svg");
            height: 325px;
            width: 325px;
            right: 0;
            top: 2.5em;
        }
    }

    h1 {
        margin-bottom: 1em;
    }

    .joinUsCard {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: .5em;

        h4 {
            font-size: large;
        }

        a {
            color: $blue;
            border-bottom: 1px solid $blue;
        }

        p {
            margin-top: 1em;
        }
    }

    .testimonialJoinUs {
        padding-top: 5%;

        h2 {
            font-weight: 500;
        }

        .sliderTestimonials {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5%;

            .testimonialCards {
                min-height: 450px;
                height: min-content;
                width: 30%;
                padding: 3%;
                box-shadow: 0px 0px 18px rgba(3, 76, 140, 0.27);
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1em;

                p {
                    text-align: center;
                    margin: 0;
                }

                img {
                    height: 75px;
                    width: 75px;
                    object-fit: cover;
                }

                h2,
                h4 {
                    height: min-content;
                    margin: 0;
                }

                h2 {
                    font-size: large;
                }

                h4 {
                    color: $blue;
                    font-size: medium;
                }
            }
        }
    }
}

//========================================  MEDIA QUERIES  ========================================//

@media only screen and (max-width: 900px) {
    .mainJoinUs {
        .buttonGroup {
            border-bottom: 2px solid $gray;
            width: max-content;
            display: flex;
            gap: 2em;

            .sectionButton {
                background-color: transparent;
                border: none;
                border-bottom: 2px solid transparent;
                font-weight: 500;
                transition: ease all .25s;
            }

            .sectionButtonActive {
                color: $blue;
                border-bottom: 3px solid $blue;
            }
        }

        padding: 10%;

        .selectorJoinUs {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .joinUsCard {
                width: 100%;
            }

            .peopleImg {
                display: none;
            }
        }

        .testimonialJoinUs {
            .sliderTestimonials {
                flex-direction: column;
                gap: 1em;

                .testimonialCards {
                    min-height: 300px;
                    width: 60%;
                    height: min-content;
                    justify-content: space-evenly;
                    gap: 2em;
                    padding: 5%;
                }
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .mainJoinUs {
        padding-top: 70px;

        h1 {
            text-align: center;
        }

        .buttonGroup {
            border-bottom: 2px solid $gray;
            width: max-content;
            display: flex;
            gap: 1em;

            .sectionButton {
                font-size: small;
                font-weight: 500;
            }
        }

        .inkuaButtonActive {
            margin: auto;
        }

        .testimonialJoinUs {
            .sliderTestimonials {
                .testimonialCards {
                    min-height: 300px;
                    width: 100%;
                    height: min-content;
                    justify-content: space-evenly;
                    gap: 2em;
                    padding: 5%;
                }
            }
        }
    }
}

// =================================== PLATFORM =================================== //

.mainPlatform {
    background-color: #F6F9FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 10%;
    @include bgImg("../resources/platform/svgBack4.svg");

    h1 {
        font-weight: 500;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $white;
        width: 50%;
        padding: 10% 5%;
        gap: 1em;
        border-radius: 30px;
        box-shadow: 0px 0px 18px rgba(3, 76, 140, 0.27);

        h2 {
            color: #000000 !important;
        }

        h3 {
            font-size: large;
        }

        input {
            width: 80%;
            border-radius: 4px;
            padding: .25em .75em;
            border: 1px solid darkgray;
        }
    }
}

//========================================  MEDIA QUERIES  ========================================//

@media only screen and (max-width: 600px) {
    .mainPlatform {
        padding-top: 70px;
        @include bgImg("../resources/platform/svgBack4.svg");

        form {
            width: 100%;
            text-align: center;
        }
    }
}

// =================================== FAQ =================================== //

.mainFaq {
    padding: 10%;

    h1 {
        margin-bottom: 1em;
        font-weight: 500;
    }

    .accordion-item {
        border: none;
        border-bottom: 2px solid $gray;

        .accordion-button {
            padding-left: 0px;
            background-color: transparent;
            color: $blue;
            font-weight: 500;
            font-size: 20px;

            &:focus {
                box-shadow: none;
            }

            &::after {

                background-image: url("../resources/faq/arrow.svg");
            }
        }
    }
}

//========================================  MEDIA QUERIES  ========================================//

@media only screen and (max-width: 350px) {
    .mainFaq {
        padding-top: 70px;

        h1 {
            font-size: 25px;
        }

        .accordion-item {
            .accordion-button {
                font-size: 16px;

            }

            .accordion-body {
                padding: 5% 0;
            }
        }
    }
}

// =================================== CONTACT =================================== //

.mainContact {
    background-color: $darkBlue;
    min-height: 90vh;
    height: min-content;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        color: $white !important;
        font-weight: 500;
    }

    form {
        width: min-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;

        .inputSection {
            display: flex;
            gap: 1em;
        }

        select,
        textarea {
            width: 100%;
        }

        input,
        textarea,
        select {
            padding: .25em .75em;
            border: 1px solid darkgray;
            border-radius: 4px;
        }

        .capthaContainer {
            width: 100%;
            display: flex;
            justify-content: space-between;
            gap: 1em;

            .checkboxContainer {
                display: flex;
                align-items: center;
                gap: 1em;

                label {
                    color: $white;
                    width: max-content;
                }
            }

            button {
                height: 4em;
                width: 100%;
                @include bgImg("https://developers.google.com/recaptcha/images/newCaptchaAnchor.gif")
            }
        }

        .inkuaButtonActive {
            background-color: $white;
            color: $blue !important;
            margin-top: 2em;
        }
    }
}

//========================================  MEDIA QUERIES  ========================================//

@media only screen and (max-width: 600px) {
    .mainContact {
        padding-top: 70px;

        form {
            .inputSection {
                flex-direction: column;
                width: 100%;
            }

            input,
            select,
            textarea {
                width: 100%;
            }

            .capthaContainer {
                width: 100%;
                display: flex;
                flex-direction: column;

                .checkboxContainer {
                    display: flex;
                    align-items: center;
                    gap: 1em;

                    input {
                        width: min-content;
                    }
                }
            }
        }
    }
}

// =================================== DONATE =================================== //

.mainDonations {
    @include bgImg("../resources/donate/main.jpg", 0 -100px);

    .donationTop {
        background-color: rgba(0, 0, 0, 0.5);
        min-height: 90vh;
        height: min-content;
        padding: 10%;
        margin: 0;

        .upperText {
            display: flex;
            flex-direction: column;
            gap: 1em;
            width: 70%;

            h1 {
                font-size: 40px;
                font-weight: 500;
            }

            h2 {
                font-size: 23px;
                font-weight: lighter;
            }
        }

        h2,
        h1,
        a,
        p {
            color: $white !important;
        }

        a {
            border-bottom: 1px solid $white;
        }

        .donationLeft {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            gap: 1em;
        }
    }

    .donationRight {
        .donationContainer {
            background-color: $white;
            padding: 10%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1em;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 30px;

            .donationInputContainer {
                position: relative;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 50px;
                border: none;
                background: linear-gradient(180deg, rgba(3, 76, 140, 0.04) 0%, rgba(3, 76, 140, 0.1) 100%);
                padding: .5em 1.5em;
                gap: 1em;

                span {
                    font-size: large;
                    font-weight: 500;
                }

                input {
                    height: 100%;
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    padding: .5em 0;

                    &:focus-visible {
                        outline: transparent;
                    }
                }
            }

            input[type=number]::-webkit-inner-spin-button,
            input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            button {
                width: 100%;
                border: 2px solid $darkBlue;
            }

            .applePay {
                @extend .inkuaButtonActive;
                width: 100%;
                background-color: #000000;
                color: $white;

                &:hover {
                    background-color: #000000;
                    color: $white;
                }
            }
        }
    }

    .donationBottom {
        min-height: 50vh;
        height: min-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
        padding: 0 25%;
        background-color: $white;
        color: #000000;
        text-align: center;

        h2 {
            font-weight: 500;
        }
    }
}

//========================================  MEDIA QUERIES  ========================================//

@media only screen and (max-width: 950px) {
    .mainDonations {
        overflow: hidden;
        background-position: center;

        .donationTop {
            display: flex;
            flex-direction: column;
            padding: 5%;

            .upperText {
                padding-top: 70px;
                display: flex;
                flex-direction: column;
                gap: 1em;
                width: 100%;

                h1 {
                    font-size: 30px;
                }

                h2 {
                    width: 100%;
                    font-size: 20px;
                    font-weight: lighter;
                }
            }

            .donationLeft {
                gap: 1em;
            }
        }

        .donationRight {
            .donationContainer {
                .topButtons {
                    flex-direction: column;
                }

                input {
                    margin: 1em 0;
                }
            }
        }

        .donationBottom {
            padding: 10%;
            background-color: $white;
            color: #000000;
            text-align: center;
        }
    }
}

// =================================== FOOTER =================================== //

footer {
    display: flex;
    position: static;
    bottom: 0;
    justify-content: center;
    width: 100%;
    gap: 5em;
    background-color: $gray;
    padding: 60px 0 60px 0;

    h6 {
        margin-bottom: .5em;
    }

    .logo {
        padding: 1em;
        width: 90px;
        height: 45px;
        @include bgImg("../resources/navbar/logo.svg");
        background-size: contain;
    }

    .footerPages {
        ul {
            list-style: none;
            padding: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: .5em;

            li {
                &:hover {
                    a {
                        color: $blue;
                    }
                }
            }
        }
    }

    .footerContactText {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1.5em;

        p {
            margin-bottom: .5em;
        }

        span {
            font-weight: bold;
            font-size: 15px;
        }
    }

    .footerLinks {

        .footerIcons {
            display: flex;
            flex-direction: column;
            padding-top: .3em;
            row-gap: 2em;

            .footerIconsLinks {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                gap: 2em;
            }

            a {
                width: min-content;

                i {
                    transition: ease all .25s;
                    font-size: 25px;
                    color: #8094B7;

                    &:hover {
                        color: $darkBlue;
                    }
                }
            }
        }
    }
}

//========================================  MEDIA QUERIES  ========================================//


@media only screen and (max-width: 768px) {
    footer {
        text-align: center;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;

        .footerPages {
            width: max-content;

            li {
                font-size: large;
                letter-spacing: 1.5px;

                i {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 400px) {
    footer {
        text-align: center;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 80px;
    }
}

//========================================  SCROLLBAR  ========================================//

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $white;
}

::-webkit-scrollbar-thumb {
    background: $darkBlue;
}